:root {
    --cyan: hsl(179, 62%, 43%);
    --brightyellow: hsl(71, 73%, 54%);
    --lightgray: hsl(204, 43%, 93%);
    --grayishblue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--lightgray);
    background-color: var(--lightgray);
    max-width: 375px;
    margin: 0 auto;
}

h1 {
    color: var(--cyan);
}

h2 {
    color: var(--lightgray);
    font-size: 1.2rem;
    margin-bottom: 25px;
}

h3 {
    color: var(--brightyellow);
}

p {
    font-size: 1.05rem;
    line-height: 1.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.item {
    padding: 15px 25px;
}

.one {
    background-color: var(--white);
    border-radius: 7px 7px 0 0;
}

.one > p {
    color: var(--grayishblue);
    margin-bottom: 10px;
}

.two {
    background-color: var(--cyan);
}

.two .price {
    font-size: 2.3rem;
    margin-right: 10px;
    vertical-align: middle;
}

.two > button {
    display: block;
    background-color: var(--brightyellow);
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin: 25px auto 10px;
    padding: 15px;
    width: 100%;
}

.two > button:hover {
    color: var(--grayishblue);
}

.three {
    background-color: var(--cyan);
    border-radius: 0 0 7px 7px;
    opacity: 0.75;
    padding-bottom: 5px;
}

.three > ul {
    list-style: none;
    padding: 0;
    line-height: 1.5rem;
}

/******************** Desktop Styles ********************/
@media only screen and (min-width: 1440px) {
    body {
        max-width: 1440px;
    }
    
    p {
        font-size: 1.15rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 50%;
    }

    .item {
        padding: 25px 40px;
    }

    .one {
        grid-column: 1 / span 2;
    }

    .one > p {
        width: 95%;
    }

    .two {
        border-radius: 0 0 0 7px;
    }

    .two > button {
        margin-top: 35px;
    }

    .three {
        border-radius: 0 0 7px 0;
    }
}